@use "../../sassStyles/colors" as *;
@use "../../sassStyles/collections" as *;

.Planet-Nav-Mobile {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid $color-borders;

  transform: translateY(-100%);

  &__Btn {
    position: relative;

    height: 50px;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.9px;

    color: $color-main--opacity-half;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      height: 4px;
      width: 100%;
      opacity: 0;

      transition: opacity 0.5s;
    }

    @each $planet, $color in $planets {
      &--#{$planet}::after {
        background-color: $color;
      }
    }

    &--Active {
      color: $color-main;

      &::after {
        opacity: 1;
      }
    }
  }
}