@use "../../sassStyles/colors" as *;
@use "../../sassStyles/mixins" as *;

.Planet-Details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include onTablet {
    flex-direction: row;
    justify-content: space-between;
    gap: 11px;
  }

  @include onDesktop {
    gap: 30px;
  }

  &__Detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 48px;
    padding: 0 24px;
    border: 1px solid $color-borders;

    @include onTablet {
      flex-basis: 100%;

      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 6px;

      height: 88px;
      padding: 0 15px;
    }

    @include onDesktop {
      height: 128px;
      gap: 4px;
      padding: 0 24px;
    }
  }

  &__Detail-Title {
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: $color-main--opacity-half;

    @include onTablet {
      font-size: 11px;
      letter-spacing: 1px;
    }

    @include onDesktop {
      font-size: 13px;
      letter-spacing: 1.4px;
    }
  }

  &__Detail-Info {
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.7px;
    text-transform: uppercase;

    @include onTablet {
      font-size: 24px;
      letter-spacing: -0.9;
    }

    @include onDesktop {
      font-size: 40px;
      letter-spacing: -1.5px;
    }
  }
}