@use "../../sassStyles/colors" as *;
@use "../../sassStyles/variables" as *;

.Main {
  color: $color-main;
  min-height: 100vh;

  &__Mobile-Nav {
    position: fixed;
    left: 0;
    right: 0;
    top: $header-height--mobile + 1px;
    bottom: 0;
    z-index: 1;
  }
}
