@use "../../sassStyles/colors" as *;
@use "../../sassStyles/variables" as *;

.Main {
  color: $color-main;

  &--Overflow_Hidden {
    height: 100vh;
    overflow: hidden;
  }

  &__Mobile-Nav {
    position: fixed;
    left: 0;
    right: 0;
    top: $header-height--mobile + 1px;
    bottom: 0;
    z-index: 1;
  }
}
