@use "../../sassStyles/colors" as *;
@use "../../sassStyles/mixins" as *;

.Header {
  border-bottom: 1px solid $color-borders;

  &__Container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    padding: 0 24px;

    @include onTablet {
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      height: 160px;
      padding: 0 51px;
    }

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;

      height: 85px;
      padding: 0 32px;
    }
  }

  &__Logo {
    font-family: "Antonio", sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: $color-main;
  }

  &__Menu-btn {
    display: block;
    width: 24px;
    height: 17px;

    background-image: url("../../static/icon-hamburger.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include onTablet {
      display: none;
    }

    &--active {
      opacity: 0.25;
    }
  }
}
