@use "../../sassStyles/colors" as *;
@use "../../sassStyles/mixins" as *;
@use "../../sassStyles/variables" as *;

.Header {
  border-bottom: 1px solid $color-borders;

  &__Container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: $header-height--mobile;
    padding: 0 24px;

    @include onTablet {
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      height: 160px;
      padding: 0 51px;
    }

    @include onDesktop {
      flex-direction: row;
      justify-content: space-between;

      height: 85px;
      padding: 0 32px;
    }
  }

  &__Logo {
    font-family: "Antonio", sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: $color-main;

    overflow: hidden;
  }

  &__Logo div {
    transform: translateY(-100%);
  }

  &__Menu-btn {
    position: relative;

    display: block;
    width: 24px;
    height: 70px;

    background-image: url("../../static/icon-hamburger.svg");
    background-position: center;
    background-repeat: no-repeat;

    transition: opacity 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 20px;
      height: 100%;
    }

    &::before {
      left: -20px;
    }
    
    &::after {
      right: -20px
    }

    @include onTablet {
      display: none;
    }

    &--active {
      opacity: 0.25;
    }
  }
}
