@use "../../sassStyles/mixins" as *;
@use "../../sassStyles/collections" as *;

.Planet-Image {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;

  @include onTablet {
    height: 460px;
  }

  @include onDesktop {
    height: 750px;
  }

  &__Container {
    position: relative;
  }

  &__Picture {
  
    @each $planet, $size in $planetsSizes--Mobile {
      &--#{$planet} {
        width: $size;
      }
    }

    @include onTablet {
      @each $planet, $size in $planetsSizes--Tablet {
        &--#{$planet} {
          width: $size;
        }
      }
    }

    @include onDesktop {
      @each $planet, $size in $planetsSizes--Desktop {
        &--#{$planet} {
          width: $size;
        }
      }
    }
  }

  &__Surface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 80px;

    @include onTablet {
      width: 120px;
    }

    @include onTablet {
      width: 170px;
    }
  }
}