$color-background1: rgb(3, 1, 15);
$color-background2: #070724;
$color-main: #ffffff;
$color-main--opacity-half: rgba(255, 255, 255, 0.5);
$color-main--opacity-80: rgba(255, 255, 255, 0.8);
$color-borders: rgba(255, 255, 255, 0.2);
$color-Mercury: #419ebb;
$color-Venus: #eda249;
$color-Earth: #6f2ed6;
$color-Mars: #d14c32;
$color-Jupiter: #ecad7a;
$color-Saturn: #fccb6b;
$color-Uranus: #1ec2a4;
$color-Neptune: #2d68f0;
