@use "./colors" as *;

$planets: 
  "Mercury" $color-Mercury, 
  "Venus" $color-Venus, 
  "Earth" $color-Earth,
  "Mars" $color-Mars, 
  "Jupiter" $color-Jupiter, 
  "Saturn" $color-Saturn,
  "Uranus" $color-Uranus, 
  "Neptune" $color-Neptune;

$planetsSizes--Mobile:
  'Mercury' 111px,
  'Venus' 154px,
  'Earth' 173px,
  'Mars' 129px,
  'Jupiter' 224px,
  'Saturn' 256px,
  'Uranus' 176px,
  'Neptune' 173px;

$planetsSizes--Tablet:
  'Mercury' 184px,
  'Venus' 253px,
  'Earth' 285px,
  'Mars' 213px,
  'Jupiter' 369px,
  'Saturn' 422px,
  'Uranus' 290px,
  'Neptune' 285px;

$planetsSizes--Desktop:
  'Mercury' 290px,
  'Venus' 400px,
  'Earth' 450px,
  'Mars' 336px,
  'Jupiter' 582px,
  'Saturn' 666px,
  'Uranus' 458px,
  'Neptune' 450px;
