@font-face {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Antonio-Medium.ttf");
}

@font-face {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Antonio-Regular.ttf");
}

@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Spartan-ExtraLight.ttf");
}

@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Spartan-Regular.ttf");
}

@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Spartan-Medium.ttf");
}

@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Spartan-Bold.ttf");
}
