@use "./sassStyles/reset";
@use "./sassStyles/mixins" as *;
@use "./sassStyles/colors" as *;
@import "./sassStyles/typography";

body {
  background-color: $color-background;
  background: rgb(2,2,17);
  background: linear-gradient(180deg, rgb(1, 1, 13) 0%, $color-background 100%);
}

.Overflow--Hidden {
  overflow: hidden;
}

.Container {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 24px;

  @include onTablet {
    padding: 0 40px;
  }

  @include onDesktop {
    padding: 0 165px;
  }
}
